<div>
    <h1>You account is now active!</h1>
</div>
<div>
    @Html.Partial("_Redirect")
</div>
@section Scripts {
    <environment names="Staging, Production">
        <script src="~/js/Scripts/redirect.min.js"></script>
    </environment>
    <environment names="Development">
        <script src="~/js/Scripts/redirect.js"></script>
    </environment>
}