@model CoreBlog.Web.ViewModels.Account.RegistrationViewModel
@{
    ViewBag.Title = "Registration";
}
@if (ViewData["Message"] == null)
{
    @Html.Partial("_Register")
}

@if (ViewData["Message"] != null)
{
    <div>
        <h1>@ViewData["Message"]</h1>
        <p>
            We just sent you a confirmation email to @ViewData["Email"]
        </p>
    </div>
    <div>
        @Html.Partial("_Redirect")
    </div>
}
