.scrollToTop{
	width:70px; 
	height:70px;
	padding:100px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:100px;
	right:30px;
	display:none;
	background: no-repeat 0px 20px;
}
.scrollToTop:hover{
	text-decoration:none;
}

