
.pagination {
    clear:both;
    position:relative;
    font-size:11px;
    text-align:center;
}


.pagination span, .pagination a {
    display:inline-block;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    color: #ddd;
    background: #222;
}

.pagination .current{
    padding:6px 9px 5px 9px;
    font-weight: bold;
    background: #0950E8;
}

#content {
    background: #fff;
    padding: 0 24px 0 96px;
    min-height: 100%;
    box-sizing: border-box;
}


body { padding-top: 100px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}