@model Blog.Models.PostViewModels.PostViewModel

@{ 
    ViewBag.Title = "New post";
}

<div class="row">
<div class="col-md-4 col-md-offset-4">
    <h2>New Post</h2>

    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form group">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control text-muted" placeholder="Enter your name" />
            <span asp-validation-for="Title" class="text-muted"></span>
        </div>
        <div class="form group">
            <label asp-for="ShortDescription">Short description</label>
            <input asp-for="ShortDescription" class="form-control" />
            <span asp-validation-for="ShortDescription" class="text-muted"></span>
        </div>
        <div class="form group">
            <label asp-for="Description">Your post</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-muted"></span>
    
            <a asp-contoller="Blog" asp-action="Index" class="btn btn-default">Cancel</a>
            <input type="submit" value="Post" class="btn btn-success" />
        </div>

    </form>
</div>
</div>