@model Blog.Models.PostViewModels.PostCreateViewModel
@using Blog.ViewModels
@{ 

    ViewBag.Title = "New post";
}



@section Styles {
    <link rel="stylesheet" href="~/css/style.css" />
}
<style>
    .tag {
        width:45px;
    }
</style>
<div class="row" ng-app="postCreateApp">
    <div class="col-md-4 col-md-offset-4" ng-view>
        
    </div>
</div>




@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/CreatePost/createPostApp.js"></script>
    <script src="~/js/CreatePost/postCreateFactory.js"></script>
    <script src="~/js/CreatePost/postCreateController.js"></script>
}