@model Blog.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Login</h2>

        <form method="post" novalidate>
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form group">
                <label asp-for="UserName">Username</label>
                <input asp-for="UserName" class="form-control text-muted" placeholder="Enter your name" />
                <span asp-validation-for="UserName" class="text-muted"></span>
            </div>
            <div class="form group">
                <label asp-for="Password" placeholder="Enter your password">Password</label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-muted"></span>
            </div>
            <div class="form-group">
                <a asp-contoller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Login" class="btn btn-success" />
            </div>

        </form>
    </div>
</div>

<hr />