@model Blog.ViewModels.AccountViewModels.ResetPasswordViewModel
@{ 
    ViewData["Title"] = "Recover password";
}
@if (ViewData["Message"] == null)
{
<div class="panel">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post">
                <div class="form group">
                    <label asp-for="Email" placeholder="Enter your email">Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-muted"></span>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
</div>
}

@if(ViewData["Message"] != null ){
    <div>
        <h1>@ViewData["Message"]</h1>
    </div>
}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}