@model Blog.ViewModels.AccountViewModels.ResetPasswordViewModel
@{ 
    ViewData["Title"] = "Reset password";
}

<div class="panel">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method="post">
                <div class="form group">
                    <label asp-for="Email" placeholder="Enter your email">Email</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-muted"></span>
                </div>
                <div class="form group">
                    <label asp-for="Password" placeholder="Enter your password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-muted"></span>
                </div>
                <div class="form group">
                    <label asp-for="ConfirmPassword" placeholder="Confirm your password">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-muted"></span>
                </div>
                <button type="submit">Reset</button>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}