<div class="footer">
    <div class="container">
        <h4 class="text-muted text-center"> &copy; @DateTime.Now.Year Daniil Dudin</h4>
        <h6 class="text-center">powered by <a href="https://github.com/Softenraged/CoreBlog">CoreBlog <i class="fa fa-github"></i></a></h6>
    </div>
</div>