<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" asp-controller="Blog" asp-action="Index" asp-route-page="1">CoreBlog</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                @if (!(User.Identity.IsAuthenticated))
                {
                   
                        <li><a asp-controller="Auth" asp-action="Login">Login<span class="sr-only">(current)</span></a></li>
                        <li><a asp-controller="Reg" asp-action="Registration">Register</a></li>
                }
                else
                {
                    if (User.IsInRole("Admin"))
                    {
                        <li><a asp-controller="Admin" asp-action="Manage">Manage</a></li>
                        <li><a asp-controller="Post" asp-action="CreatePost">Create new post</a></li>
                    }

                    <li><a asp-controller="Auth" asp-action="Logout">Logout</a></li>

                }
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Info<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a asp-controller="Blog" asp-action="Contact">Contact</a></li>
                        <li class="divider"></li>
                    </ul>
                </li>
                <li>

                </li>
            </ul>
        </div>
    </div>
</nav> 