@model CoreBlog.Web.ViewModels.Page.SearchViewModel

<form asp-controller="@ViewBag.Controller" novalidate asp-action="GetString">
    <div class="input-group form-group">
        <input class="form-control" asp-for="Text" placeholder="e.g. Hello World!">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </div>
</form>

   