@using Blog.Models
@using Blog.ViewModels
@model SearchViewModel

    <form class="input-group stylish-input-group" asp-controller="Search" asp-action="GetString">
        <input type="text" class="form-control" placeholder="Search" asp-for="Text">
        <span class="input-group-addon">
            <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </form>

   