@using Blog.Models
@using Blog.ViewModels
@model SearchViewModel

    <form  asp-controller="@ViewBag.Controller" asp-action="GetString">
        <div class="input-group form-group">
            <input type="text" class="form-control" asp-for="Text" placeholder="e.g. Hello World!">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
            </span>
        </div>
    </form>

   