@using Sakura.AspNetCore;

@model Blog.Models.Pager

@{
    ViewBag.Title = "Search results";
    ViewBag.Controller = "Tag";
}



    @Html.Partial("_Posts")
    <div class="container">
        <div class="row">
            @Html.Partial("_Pagination")
        </div>
    </div>
y