
.pagination {
    clear:both;
    position:relative;
    font-size:11px;
    text-align:center;
}


.pagination span, .pagination a {
    display:inline-block;
    margin: 2px 2px 2px 0;
    padding:6px 9px 5px 9px;
    text-decoration:none;
    color: #ddd;
    background: #222;
}

p{
    word-wrap:break-word;
}


img {
    max-width: 100%;
    max-height: 100%;
}

.image {
    width:900px;
    height:400px;
    align-content:center;
}

.tag {
    width: 45px;
}

.pagination .current{
    padding:6px 9px 5px 9px;
    font-weight: bold;
    background: #0950E8;
}

#content {
    background: #fff;
    padding: 0 24px 0 96px;
    min-height: 100%;
    box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  overflow:auto;
  padding-bottom: 7rem;
  min-height: 100%;
  padding-left:50px;
  padding-right:50px;
}

html {
  height: 100%;
  overflow:auto;
  box-sizing: border-box;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width:auto;
  padding: 1rem;
  background-color: #fff;
  text-align: center;
}


body {
    padding-top: 100px;
}