@{
    ViewBag.Title = "Contact us";
}

@if (ViewBag.Message == null)
{
    @Html.Partial("_Contact")
}

@if (ViewBag.Message != null)
{
    <div>
        <h1>@ViewBag.Message</h1>
    </div>
    <div>
        @Html.Partial("_Redirect")
    </div>
    @section Scripts {
        <environment names="Staging">
            <script src="~/js/Scripts/redirect.min.js"></script>
        </environment>
        <environment names="Development">
            <script src="~/js/Scripts/redirect.js"></script>
        </environment>
    }
}

