@{
    ViewBag.Title = "Contact us";
}

@if (ViewBag.Message == null)
{
    @Html.Partial("_Contact")
}

<div>
    <div>
        @if (ViewBag.Message != null)
        {
            <h1>@ViewBag.Message</h1>
            <p>
                You will be automatically redirected in <span id="timer"></span> seconds.
            </p>

            @section Scripts {
                <script src="~/js/JqueryScripts/redirect.js"></script>
            }
        }
    </div>
</div>

