@model CoreBlog.Web.ViewModels.Page.PageViewModel


@{

    ViewBag.Title = "CoreBlog";
    var totalCount = Model.PagedList.TotalCount;

}

@section Styles {
    <link rel="stylesheet" href="~/css/scrollToTop.css" />
}

<div class="row">
    <div class="col-lg-9">
        @if (totalCount > 0)
        {
            @Html.Partial("_Posts")

        }
    </div>
    <div class="col-lg-3">
        @Html.Partial("_Widgets")
    </div>
    <a href="#" class="scrollToTop">
        <i class="fa fa-arrow-circle-up fa-5x"> </i>
    </a>
    <div class="container">
        @Html.Partial("_Pagination")
    </div>
</div>
@section Scripts {
    <enviromental names="Development">
        <script src="~/js/Scripts/scrollToTop.js"></script>
    </enviromental>
    <environment names="Staging">
        <script src="~/js/Scripts/scrollToTop.min.js"></script>
    </environment>
}






