@model CoreBlog.Web.ViewModels.Page.PageViewModel


@{

    ViewBag.Title = "CoreBlog";
    var totalCount = Model.PagedList.TotalCount;

}

@section Styles {
    <link rel="stylesheet" href="~/css/scrollToTop.css" />
    <link rel="stylesheet" href="~/css/SearchBar.css" />
    <link rel="stylesheet" href="~/css/widgetBar.css" />
}

<div class="row">
    <div class="col-lg-9">
        @if (totalCount > 0)
        {
            @Html.Partial("_Posts")

        }
    </div>
    <div class="col-lg-3 widgetBar">
        @Html.Partial("_Widgets")
        <a href="#" class="scrollToTop"><i></i></a>
    </div>
    @Html.Partial("_Pagination")
    
</div>



@section Scripts {
    <script src="~/js/Scripts/scrollToTop.js"></script>
}






