@using Sakura.AspNetCore;

@model Blog.ViewModels.PageViewModel

    
<div class="row">
        @Html.Partial("_Posts")
        <div class="container">
            <div class="row">
                @Html.Partial("_Pagination")
            </div>
        </div>
</div>  
