
<div class="text-center">
    <h1>CoreBlog</h1>
    <i class="fa fa-gear fa-5x"></i>
</div>
<div class="text-center text-info">
    <h3>@ViewData["Code"]</h3>
    <h3>@ViewData["Message"]</h3>
    <a class="btn btn-default" asp-controller="Blog" asp-action="Index">Home page</a>
</div>
