<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Code"]</title>
</head>
<body>
    <div>
        <h1>@ViewData["Code"]</h1>
        <h3>@ViewData["Message"]</h3>
    </div>
    <a class="btn-lg center-block" asp-controller="Blog" asp-action="Index">Home page</a>
</body>
</html>