@model CoreBlog.Web.ViewModels.Page.PageViewModel

@{
    var totalCount = Model.PagedList.TotalCount;
}
@section Styles {
    <link rel="stylesheet" href="~/css/scrollToTop.css" />
    <link rel="stylesheet" href="~/css/SearchBar.css" />
}

<div class="container">
    <div class="row">
        @Html.Partial("_Search", Model.Search)
        @if (totalCount > 0)
        {
            <h4>Search results: @totalCount</h4>
            @Html.Partial("_Posts")
            @Html.Partial("_Pagination")
        }
        else
        {
            <h2 class="text-center">Nothing was found! Try again!</h2>

        }
    </div>
    <a href="#" class="scrollToTop">
        <i class="fa fa-arrow-circle-up fa-5x"> </i>
    </a>
</div>


@section Scripts {
    <enviromental names="Development">
        <script src="~/js/Scripts/scrollToTop.js"></script>
    </enviromental>
    <environment names="Staging, Production">
        <script src="~/js/Scripts/scrollToTop.min.js"></script>
    </environment>
}
