@{ 
    ViewBag.Title = "Contact us";
}

@if (ViewBag.Message == null)
{
  @Html.Partial("_Contact")
}

<div>
    <div>
        @if (ViewBag.Message != null)
        {
        <h1>@ViewBag.Message</h1>
        }
    </div>
</div>