@model Blog.ViewModels.PageViewModel


@{ 

    ViewBag.Title = "CoreBlog";
    var totalCount = Model.PostsPerPage.TotalCount;

}

@section Styles {
    <link rel="stylesheet" href="~/css/BackToTop.css" />
    <link rel="stylesheet" href="~/css/SearchBar.css" />
}

@section Scripts {
    <script src="~/js/scrollToTop.js"></script>
}



<div class="row">
    <div class="col-lg-9">
        @if (totalCount > 0)
        {
            @Html.Partial("_Posts", Model)
        }

    </div>

    <div class="col-lg-3">       
           @Html.Partial("_Widgets", Model)
    </div>
</div>
<div id="scroll">
    <a href="#" class="scrollToTop"><i class="fa fa-long-arrow-up" style="font-size:44px"></i></a>
</div>
 <div class="container">
    <div class="row">
            @Html.Partial("_Pagination", Model)
    </div>
</div>


