@using Sakura.AspNetCore;
@using Blog.ViewModels
@using Blog.Models
@model Blog.ViewModels.PageViewModel


@section Styles {
    <link rel="stylesheet" href="~/css/BackToTop.css" />
}

@section Scripts {
    <script src="~/js/scrollToTop.js"></script>
}


@{ 
    var latestPosts = Model.PostsPerPage.Where(option => option.PostedOn.Date == DateTime.Today);
}

<div class="row">
    <div class="col-lg-9">

        @if (Model.PostsPerPage.TotalCount != 0)
        {
            @Html.Partial("_Posts", Model)

        }
    </div>
    <div class="col-lg-3">
        <div class="well">
            <h2>Categories</h2>
            <ul class="list-group">
                <li class="list-group-item">Development</li>
                <li class="list-group-item">Managment</li>
                <li class="list-group-item">Design</li>
                <li class="list-group-item">Other</li>
            </ul>
        </div>
        <div class="well">
            <h2>Latest posts</h2>
            <ul class="list-group">
                @foreach (var post in latestPosts)
                {
                    <li class="list-group-item"><a asp-controller="Post" asp-action="OpenPost" asp-route-id="@(post.Id)"> @post.Title</a></li>
                }
            </ul>
        </div>
    </div>
</div>

<a href="#" class="scrollToTop">Scroll To Top</a>
<div class="container">
    <div class="row">
        @Html.Partial(@"_Pagination", Model)
    </div>
</div>
