@using Sakura.AspNetCore;
@using Blog.ViewModels
@using Blog.Models
@model Blog.Models.Pager


@section Styles {
    <link rel="stylesheet" href="~/css/BackToTop.css" />
}

@section Scripts {
    <script src="~/js/scrollToTop.js"></script>
}

<!--<div class="page-header">
    <h2>Latest posts</h2>
    <div class="text-left">
        @Html.Partial("_Search", new Tuple<Pager, SearchViewModel>(Model, new SearchViewModel()))
    </div>
</div>-->


<div class="container">

    <div class="row">


        @if (Model.TotalPosts != 0)
        {
            @Html.Partial("_Posts", Model)

        }
    </div>
</div>

<p id="back-top">
    <a href="#top"><span></span>Back to top</a>
</p>



<div class="container">
    <div class="row">
        @Html.Partial(@"_Pagination", Model)
    </div>
</div>
