@using Sakura.AspNetCore;
@using Blog.ViewModels
@using Blog.Models
@model Blog.ViewModels.PageViewModel


@section Styles {
    <link rel="stylesheet" href="~/css/BackToTop.css" />
}

@section Scripts {
    <script src="~/js/scrollToTop.js"></script>
}




<div class="row">
    <div class="col-lg-9">

        @if (Model.PostsPerPage.TotalCount != 0)
        {
            @Html.Partial("_Posts", Model)

        }
    </div>
    <div class="col-lg-3">
        <div class="well">
            <h2>Categories</h2>
            <ul >
                <li class="btn">Development</li>
                <li class="btn">Managment</li>
                <li class="btn">Design</li>
                <li class="btn">Other</li>
            </ul>
        </div>
        <div class="well">
            <h2>Latest posts</h2>
            <ul>
             
            </ul>
        </div>
    </div>
</div>

<a href="#" class="scrollToTop">Scroll To Top</a>
<div class="container">
    <div class="row">
        @Html.Partial(@"_Pagination", Model)
    </div>
</div>
