@model Blog.Models.PostViewModels.ContactViewModel
@using System.Threading
@{
    ViewBag.Title = "Contact us";
}

<style>
    textarea {
        resize: vertical;
    }
</style>

@{
    var time = 5;
    var timer = new Timer(_ =>
    {
        --time;

    }, null, 0, 1000);
}

<div class="row">
    <div class="col-md-6 col-md-offset-4">
        <h2>Thanks for your feed, @Model.Name!</h2>
        <p>
            You will be redirected in @time seconds
            @while (timer != null)
            {
                Thread.Sleep(0);
                if (time == 0)
                {
                    timer.Dispose();
                    timer = null;

                }
            }
        </p>
    </div>
</div>