
@{
    ViewBag.Title = "Manage panel";
}

<div ng-app="adminApp">
  <ul class="nav nav-tabs" ng-controller="tabsController as vm">
    <li ng-class="vm.tabClass(tab)" ng-repeat="tab in vm.tabs"><a href="{{tab.link}}" ng-click="vm.setSelectedTab(tab)">{{tab.label}}</a></li>
</ul>

    <div class="tab-content">
        <div ng-view></div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-utils-pagination/dirPagination.js"></script>
    <script src="~/lib/angular-sanitize/angular-sanitize.min.js"></script>

    <environment names="Staging">
        <script src="~/js/Admin/adminApp.min.js"></script>
        <script src="~/js/Admin/tabsController.min.js"></script>
        <script src="~/js/Admin/controlPanelFactory.min.js"></script>
        <script src="~/js/Admin/postController.min.js"></script>
        <script src="~/js/Admin/userController.min.js"></script>
    </environment>

    <environment names="Development">
        <script src="~/js/Admin/adminApp.js"></script>
        <script src="~/js/Admin/tabsController.js"></script>
        <script src="~/js/Admin/controlPanelFactory.js"></script>
        <script src="~/js/Admin/postController.js"></script>
        <script src="~/js/Admin/userController.js"></script>
    </environment>
}
