@model ICollection<Blog.ViewModels.PostViewModel>
@{
    ViewBag.Title = "Manage panel";
}

@section Scripts{
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/blogApp.js"></script>
    <script src="~/js/postController.js"></script>
    <script src="~/js/userController.js"></script>
}

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">New posts</a></li>
    <li><a data-toggle="tab" href="#menu1">Users</a></li>
    <li><a data-toggle="tab" href="#menu2">Suspended Users</a></li>
</ul>

<div class="tab-content" ng-app="blogApp">
    <div id="home" class="tab-pane fade in active" ng-controller="postController as vm">
        <div class="text-danger" ng-show="vm.error">{{vm.error}}</div>
        <div class="text-left" ng-show="vm.isBusy"><i class="fa fa-spinner fa-spin"></i>Loading...</div>
        <button ng-click="getPosts();">Get</button>
        <table style="width: auto;" class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1"><a href="" target="_blank" ng-class="vm.reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'" style="text-decoration:none;display:block;" ng-click="vm.order('title')">Title</a></th>
                    <th class="col-md-3"><a href="" target="_blank" ng-class="vm.reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'" style="text-decoration:none;display:block;" ng-click="vm.order('author')">Author</a></th>
                    <th class="col-md-3"><a href="" target="_blank" ng-class="vm.reverse ? 'fa fa-caret-down' : 'fa fa-caret-up'" style="text-decoration:none;display:block;" ng-click="vm.order('postedOn')">Date</a></th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in posts | orderBy:vm.predicate:vm.reverse">
                    <td>{{post.title}}</td>
                    <td>{{post.author}}</td>
                    <td>{{post.postedOn | date: 'MM-dd-yyyy'}}</td>
                    <td class="btn-group">
                        <a class="btn" href="#" ng-click="approve(post, true)"><i class="fa fa-check">Approve</i></a>
                        <a class="btn" href="#" ng-click="approve(post, false)"><i class="fa fa-close">Delete</i></a>
                    </td>
                </tr>
            </tbody>               
        </table>
    </div>
    <div id="menu1" class="tab-pane fade" ng-controller="userController as uservm" >
        <div class="text-danger" ng-show="uservm.error">{{uservm.error}}</div>
        <div class="text-left" ng-show="uservm.isBusy"><i class="fa fa-spinner fa-spin"></i>Loading...</div>
        <button ng-click="getUsers();">Get</button>
        <table style="width: auto;" class="table table-hover">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td>{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.emailConfirmed}}</td>              
                </tr>
            </tbody>
        </table>
    </div>
    <div id="menu2" class="tab-pane fade">
        <h3>Menu 2</h3>
        <p>Some content in menu 2.</p>
    </div>
</div>