@model CoreBlog.Web.ViewModels.Account.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="panel">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h2 class="panel-heading">Login</h2>
            <form method="post" novalidate class="panel-body">
                <div class="form group">
                    <label asp-for="UserName">Username Or Email</label>
                    <input asp-for="UserName" class="form-control text-muted" placeholder="Enter your name" />
                    <span asp-validation-for="UserName" class="text-muted"></span>
                </div>
                <div class="form group">
                    <label asp-for="Password" placeholder="Enter your password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-muted"></span>
                </div>
                <div>
                    <div class="form-group">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe">Remember me?</label>
                        <a asp-controller="Auth" asp-action="RecoverPassword" class="text-left">Forgot your password?</a>
                    </div>
                </div>
                <div>
                    <div class="list-group">
                        <button type="submit" class="list-group-item" style="text-align:center;">Sign In</button>
                        <a asp-controller="Blog" asp-action="Index" class="list-group-item" style="text-align:center;">Cancel</a>
                    </div>
                </div>
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
            <div class="panel-footer panel-primary">
                <p class="text-center">Don't have a CoreBlog account? <a asp-controller="Reg" , asp-action="Registration">Sign up now!</a></p>
            </div>
        </div>
    </div>
</div>
