@model CoreBlog.Web.ViewModels.Account.SendResetPasswordViewModel
@{
    ViewData["Title"] = "Recover password";
}
@if (ViewData["Message"] == null)
{
    <div class="panel">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form method="post">
                    <div class="form group">
                        <label asp-for="Email" placeholder="Enter your email">Email</label>
                        <input type="email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-muted"></span>
                    </div>
                    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                    <button class="btn" type="submit">Send reset link</button>
                </form>
            </div>
        </div>
    </div>
}

@if (ViewData["Message"] != null)
{
    <div>
        <h1>@ViewData["Message"]</h1>
    </div>
    <div>
        @Html.Partial("_Redirect")
    </div>
    @section Scripts {
         <environment names="Staging, Production">
             <script src="~/js/Scripts/redirect.min.js"></script>
         </environment>
         <environment names="Development">
            <script src="~/js/Scripts/redirect.js"></script>
         </environment>
    }
}

