<div ng-init="vm.getPublished()">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th class="col-md-2"><a ng-click="vm.order('title')">Title</a></th>
                <th class="col-md-2"><a ng-click="vm.order('author')">Author</a></th>
                <th class="col-md-2"><a ng-click="vm.order('category')">Category</a></th>
                <th class="col-md-2"><a ng-click="vm.order('tag')">Tags</a></th>
                <th class="col-md-2"><a ng-click="vm.order('postedOn')">Date</a></th>
                <th class="col-md-2">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="post in vm.posts | filter: vm.isDeleted | orderBy:vm.predicate:vm.reverse | filter:search | itemsPerPage: 5">

                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td>{{post.category.name}}</td>
                <td><a ng-repeat="tag in post.tags">{{tag.name }}</a></td>
                <td>{{post.postedOn | date: 'MM-dd-yyyy'}}</td>
                <td class="btn-group">
                    <a class="btn" ng-href="#/open/{{post.id}}"><i class="fa fa-folder-open"></i>Open</a>
                    <a class="btn" ng-show="!vm.isBusy" ng-click="vm.delete(post)">
                        <i class="fa fa-close">Delete</i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <dir-pagination-controls template-url="/views/paginationView.html" max-size="5"></dir-pagination-controls>
    </div>
    <label>Search: <input ng-model="search"></label>
    <div class="text-danger" ng-show="vm.error">
        {{vm.error}}
    </div>
 
    <div class="text-left" ng-show="vm.isBusy">
        <i class="fa fa-spinner fa-spin"></i>Loading...
    </div>
</div>