<table class="table table-responsive">
    <thead>
        <tr>
            <th class="col-md-3">Username</th>
            <th class="col-md-3">Email</th>
            <th class="col-md-3">Status</th>
            <th class="col-md-3">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr dir-paginate="user in vm.users | filter:search | itemsPerPage: 5">
            <td>{{user.userName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.isBanned ? 'Banned' : 'Active'}}</td>
            <td class="btn group">
                <button class="btn" ng-disabled="vm.isBusy" ng-click="user.isBanned? vm.unban(user) : vm.ban(user)">
                    <i ng-class="user.isBanned ? 'fa fa-ban' : 'fa fa-check'">{{user.isBanned ? 'Unban' : 'Ban'}}</i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center">
    <dir-pagination-controls template-url="/views/paginationView.html" max-size="5"></dir-pagination-controls>
</div>
<label>Search: <input ng-model="search"></label>
<div class="text-danger" ng-show="vm.error">
    {{vm.error}}
</div>
<div class="text-left" ng-show="vm.isBusy">
    <i class="fa fa-spinner fa-spin"></i>Loading...
</div>
