<div class="container" ng-init="vm.preview()">
    <h1>
        {{vm.openPost.category.name}}: {{vm.openPost.title}}
    </h1>
    <hr>
    <div class="col-xs-7">
        <p>
            <span class="glyphicon glyphicon-time"></span>
            Posted on {{vm.openPost.postedOn | date: 'MM-dd-yyyy'}}
        </p>
        <span class="glyphicon glyphicon-tags">  </span>

        <a ng-repeat="tag in vm.openPost.tags">
            {{tag.name}}
        </a>
    </div>
    <div class="col-xs-5">
        <img class="center-block" ng-src="data:{{vm.openPost.image.filetype}}; base64,{{vm.openPost.image.base64}}" />
    </div>
    <hr/>
    <div class="col-xs-12">
        <p style="white-space:normal; word-wrap:break-word">
            {{vm.openPost.shortDescription}}
        </p>
    </div>
    <div class="col-xs-12">
        <p style="white-space:normal; word-wrap:break-word" ng-bind-html="vm.openPost.description">
            {{vm.openPost.description}}
        </p>
    </div>
    <hr>
    <a ng-href="#/" class="btn btn-default">Back</a>
</div>
<div class="text-danger" ng-show="vm.error">
    {{vm.error}}
</div>
