<div ng-init="vm.edit ? vm.getPost() : vm.newPost()">
    <h2>{{vm.edit ? 'Update' : 'New'}} Post</h2>
    <form method="post" name="newPostForm">
        <div class="form group">
            <label for="title">Title</label>
            <input ng-model="vm.post.title" ng-required="vm.post.title" ng-minlength="5" name="title" id="title" type="text" class="form-control text-muted" placeholder="Title" />
            <span ng-show="CreateNewPost.title.$error.required" class="text-warning">Title is required.</span>
            <span ng-show="CreateNewPost.title.$error.minlength" class="text-warning">Title must be at least 5 characters.</span>
        </div>
        <div class="form group">
            <label for="shortDescription">Short Description</label>
            <input ng-model="vm.post.shortDescription" required ng-minlength="5" name="shortDescription" id="shortDescription" type="text" class="form-control text-muted" placeholder="Short description" />
            <span ng-show="CreateNewPost.shortDescription.$error.required" class="text-warning">Title is required.</span>
            <span ng-show="CreateNewPost.shortDescription.$error.minlength" class="text-warning">Title must be at least 5 characters.</span>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <div>
                <button ng-disabled="vm.isFull" class="btn" ng-click="vm.addTag()"><i class="fa fa-plus"></i></button>
                <span class="fa fa-tag" ng-repeat="tag in vm.post.tags" ng-model="vm.post.tags[$index]">
                    <label>
                        <input class="tag" type="text" ng-model="tag.name" />
                        <a class="btn" ng-click="vm.removeTag($index)">
                            <i class="fa fa-remove" style="color:red">
                            </i>
                        </a>
                    </label>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Image</label>
            <input type="file" ng-model="vm.post.image" name="file" base-sixty-four-input maxsize="1024" accept="image/*">
        </div>
        <div class="form-group">
            <label>Category</label>
            <div>
                <select ng-model="vm.post.category.name" class="form-control">
                    <option value="Development">Development</option>
                    <option value="Managment">Managment</option>
                    <option value="Design">Design</option>
                    <option value="Other" selected="selected">Other</option>
                </select>
            </div>
        </div>
        <div class="form group">
            <label for="description">Description</label>
            <text-angular ng-model="vm.post.description"></text-angular>
            <span ng-show="CreateNewPost.description.$error.required" class="text-warning">Description is required.</span>
        </div>
        <div class="list-group" ng-show="vm.edit == false">
            <button ng-disabled="newPostForm.$invalid" style="text-align:center;" ng-click="vm.approve()" class="btn btn-success list-group-item">Post!</button>
            <button ng-click="vm.back()" style="text-align:center;" class="btn list-group-item">Cancel</button>
        </div>
        <div class="list-group" ng-show="vm.edit == true">
            <a ng-disabled="newPostForm.$invalid" style="text-align:center;" ng-click="vm.updatePost()" class="list-group-item list-group-item-action">Update!</a>
            <a ng-click="vm.back()" style="text-align:center;" class="list-group-item list-group-item-action">Back</a>
        </div>
    </form>
    <div class="text-danger" ng-show="vm.error">{{vm.error}}</div>
</div>